<div class="devices">
    <div class="title">
        <p>Devices</p>
    </div>
    <div class="section1">
        <p>All <span>connected</span> devices</p>
        <button  type="button" class="btn-add"  data-bs-toggle="modal" data-bs-target="#myModal">
            <i class="bi bi-plus-lg"></i> Add Device
        </button>
    </div>
    <div class="section2">
       <div *ngIf="loading" style="width: 100%; height: 100%; position: relative;">
          <ngx-spinner bdColor = "#f8f8f8" size = "medium" color = "#ff7c7c" type = "ball-scale-multiple" [fullScreen] = "false">
          </ngx-spinner>
       </div>
        <app-table *ngIf="!loading" [devices]="devices"></app-table>
    </div>
   <div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-custom">
        <div class="modal-content p-3">

          <div class="modal-header border-0">
            <h5 class="modal-title fw-bold" id="exampleModalLabel">➕ Add New Device</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>

          <div class="modal-body">
            <form class="device-form" #myForm="ngForm" (ngSubmit)="onSubmit(myForm)">
              <div class="form-group mb-3">
                <label class="form-label">Device Type</label>
                <select class="form-select" name="deviceType" ngModel >
                  <option *ngFor="let type of deviceTypes" [value]="type.id">{{ type.name }}</option>
                </select>
              </div>

              <div class="form-group mb-3">
                <label class="form-label">Device Name</label>
                <input type="text" name="deviceName" class="form-control" placeholder="Enter device name" ngModel >
              </div>

              <div class="form-group mb-3">
                <label class="form-label">Device Port</label>
                <input type="number" name="devicePort" class="form-control" placeholder="e.g. 8080" ngModel >
              </div>
             <div class="modal-footer border-0 pt-0">
              <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancel</button>
              <button type="submit" class="btn btn-add">Add Device</button>
            </div>
            </form>
          </div>



        </div>
      </div>
    </div>

</div>