  <nav class="open">
      <div class="sidebar">
        <div class="logo">
          <i class="bx bx-menu menu-icon"></i>
          <span class="logo-name">Smartie</span>
        </div>
        <div class="sidebar-content">
          <ul class="lists">
            <li class="list" routerLink="/dashboard"> 
              <div class="nav-link"   [ngClass]="{ 'selected': currentPath === '/dashboard' }">
                <i class="bx bx-home-alt icon"></i>
                <span class="link">Dashboard</span>
              </div>
            </li>
            <li class="list" routerLink="/devices">
              <div href="#" class="nav-link" [ngClass]="{ 'selected': currentPath === '/devices' }">
                <i class="bx bx-bar-chart-alt-2 icon"></i>
                <span class="link">Devices</span>
              </div>
            </li>
          
          </ul>
          <div class="bottom-cotent">
            <li class="list">
              <a href="#" class="nav-link">
                <i class="bx bx-cog icon"></i>
                <span class="link">Settings</span>
              </a>
            </li>
            <li class="list">
              <a href="#" class="nav-link">
                <i class="bx bx-log-out icon"></i>
                <span class="link">Logout</span>
              </a>
            </li>
          </div>
        </div>
      </div>
    </nav>